@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 10px;
  background-color: rgb(239, 239, 239);
  color: rgb(44, 47, 53);
  font-family: "Roboto Mono", monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.title {
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  border: 1px solid gray;
  padding: 5px;
  gap: 1rem;
  width: 400px;
}

.context {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-end;
  gap: 12px;
}

.inputField {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column;
  gap: 9px;
}

.box {
  padding: 0;
  /* border: 1px solid gray; */
  display: flex;
  height: 25px;
  width: 160px;
}

.fa-solid {
  margin: 0;
  padding-top: 3px;
  padding-left: 3px;
  border: 1px solid gray;
  border-right: 0;
  width: 15%;
}
input {
  border: 1px solid gray;
  /* border-left: 0; */
  border-radius: 0;
  margin: 0;
  height: 22px;
  width: 85%;
  height: 100%;
  padding-left: 5px;
}

select {
  width: 85%;
  border-radius: 0;
}

.btn {
  width: 60px;
  height: 30px;
  font-size: medium;
}
